<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/bower_components/blueimp-gallery/css/blueimp-gallery.min.css">
</head>
<body>
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
  </div>
  <div id="links">
    {{#each pics}}
      <a href="pics/{{this}}">
          <img src="pics/{{this}}?dim=100x100">
      </a>
    {{/each}}
  </div>
  <script src="/bower_components/blueimp-gallery/js/blueimp-gallery.min.js"></script>
  <script>
  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
  </script>
</body>
</html>